{% set current_path = request.path if request is defined else '' %}
{% set nav_class = 'flex items-center px-6 py-3 hover:bg-blue-800 rounded transition' %}
{% set active_class = 'flex items-center px-6 py-3 bg-blue-800 rounded transition' %}

<ul class="space-y-2">
    <li>
        <a href="/painel" class="{{ active_class if current_path == '/painel' else nav_class }}">
            <i class="fas fa-bed mr-3"></i>
            Ocupação de Leitos
        </a>
    </li>
    <li>
        <a href="/tempo_permanencia" class="{{ active_class if current_path == '/tempo_permanencia' else nav_class }}">
            <i class="fas fa-clock mr-3"></i>
            Tempo de Permanência
        </a>
    </li>
    <li>
        <a href="/perfil_paciente" class="{{ active_class if current_path == '/perfil_paciente' else nav_class }}">
            <i class="fas fa-user-injured mr-3"></i>
            Perfil do Paciente
        </a>
    </li>
    <li>
        <a href="/disponibilidade" class="{{ active_class if current_path == '/disponibilidade' else nav_class }}">
            <i class="fas fa-chart-area mr-3"></i>
            Disponibilidade
        </a>
    </li>
    <li>
        <a href="/emergencia" class="{{ active_class if current_path == '/emergencia' else nav_class }}">
            <i class="fas fa-ambulance mr-3"></i>
            Emergência
        </a>
    </li>
    <li>
        <a href="/relatorios" class="{{ active_class if current_path == '/relatorios' else nav_class }}">
            <i class="fas fa-file-export mr-3"></i>
            Relatórios
        </a>
    </li>
    <li>
        <a href="/" class="{{ active_class if current_path == '/' else nav_class }}">
            <i class="fas fa-file-upload mr-3"></i>
            Importação e Histórico
        </a>
    </li>
</ul>